* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f0e8;
  color: #111111;
  font-family: Arial, sans-serif;
}

/* NAVBAR */

header {
  height: 80px;
  padding: 0 6%;
  border-bottom: 1px solid #111111;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.navbar nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.navbar a {
  color: #111111;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-button {
  background: #111111;
  color: #f4f0e8;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  cursor: pointer;
}