.schedule-section {
  padding: 100px 6%;
  background: #f4f0e8;
  color: #111111;
  border-top: 1px solid #111111;
}

.schedule-heading {
  margin-bottom: 80px;
}

.schedule-heading h2 {
  margin-top: 20px;
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 0.9;
  letter-spacing: -4px;
}

.schedule-list {
  border-top: 1px solid #111111;
}

.schedule-item {
  min-height: 130px;
  padding: 25px 0;

  display: grid;
  grid-template-columns: 15% 1fr 35%;
  align-items: center;

  border-bottom: 1px solid #111111;
}

.schedule-time {
  font-size: 1.5rem;
  font-weight: 700;
}

.schedule-details span {
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.schedule-details h3 {
  margin: 8px 0;
  font-size: 1.8rem;
}

.schedule-details p {
  font-size: 0.85rem;
}

.schedule-line {
  height: 1px;
  background: #111111;
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .schedule-section {
    padding-left: 5%;
    padding-right: 5%;
  }

  .schedule-item {
    grid-template-columns: 120px 1fr;
    gap: 25px;
  }

  .schedule-line {
    display: none;
  }
}

@media (max-width: 800px) {
  .schedule-section {
    padding: 70px 7%;
  }

  .schedule-heading {
    margin-bottom: 50px;
  }

  .schedule-heading h2 {
    font-size: clamp(3rem, 15vw, 5.5rem);
    letter-spacing: -3px;
  }

  .schedule-item {
    min-height: auto;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 22px 0;
  }

  .schedule-time {
    font-size: 1.1rem;
  }

  .schedule-details h3 {
    font-size: 1.35rem;
  }

  .schedule-details p {
    font-size: 0.75rem;
  }
}
